.DS_Store
*.log
bin/get__hello__go
listeners/get__hello__go__listener
tanuki
Backups
CachedExtensions
globalStorage
User
CachedExtensionsglobalStorage
machineid
*.json
self-signed.cert
self-signed.key