.DS_Store
*.log
bin/*
!bin/*.go
listeners/*
!listeners/*.go
tanuki
Backups
CachedExtensions
globalStorage
User
CachedExtensionsglobalStorage
languagepacks.json
machineid
rapid_render.json
self-signed.cert
self-signed.key